<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.artisan.dao.RolePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.artisan.pojo.db.RolePermission" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="p_id" property="pId" jdbcType="INTEGER" />
    <id column="r_id" property="rId" jdbcType="INTEGER" />
  </resultMap>
</mapper>