<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.artisan.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.artisan.pojo.db.Role" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="r_id" property="rId" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>