<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.artisan.dao.UserGroupMapper" >
  <resultMap id="BaseResultMap" type="com.artisan.pojo.db.UserGroup" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="parent_group_name" property="parentGroupName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>